{% extends 'base.html' %}

{% block title %}
    <title>Create</title>
{% endblock title %}

{% block content %}
    <h2> new Order</h2>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input style=" width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;"  type="submit" value="Add">
    </form>
{% endblock content %}